<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="항해99"/>
    <meta property="og:description" content="맛집 공유"/>
    <meta property="og:image" content=""/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>맛집</title>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
<!--Header-->
<header class="container-fluid mytitle">
    <div class="mytitle">
        <div class="py-2 px-5 btnContainer">
            <button class="btn btn-primary">회원가입</button>
            <button class="btn btn-primary">로그인</button>
        </div>
        <div class="search input-group mb-3 py-5 mx-auto">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                   aria-describedby="button-addon2">
            <button class="btn btn-outline-light" type="button" id="button-addon2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                     viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>

        </div>
    </div>
</header>

<!--location-->
<div class="flex px-10 py-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
  <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
  <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
</svg> &nbsp;위치 정보
</div>

<div class="mycards py-2 px-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card">
                <img src="https://search.pstatic.net/common/?autoRotate=true&amp;type=w560_sharpen&amp;src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20201110_26%2F16050108771066KwM3_JPEG%2F4maaS0xByFiaHM2ixIaCjuEP.jpg
" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">호맥</h5>
                    <p class="stars">⭐4.59/5</p>
                    <p class="location">부산 금정구 중앙대로1959번길 55 호맥</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://search.pstatic.net/common/?autoRotate=true&amp;type=w560_sharpen&amp;src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20201110_26%2F16050108771066KwM3_JPEG%2F4maaS0xByFiaHM2ixIaCjuEP.jpg
" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">호맥</h5>
                    <p class="stars">⭐4.59/5</p>
                    <p class="location">부산 금정구 중앙대로1959번길 55 호맥</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://search.pstatic.net/common/?autoRotate=true&amp;type=w560_sharpen&amp;src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20201110_26%2F16050108771066KwM3_JPEG%2F4maaS0xByFiaHM2ixIaCjuEP.jpg
" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">호맥</h5>
                    <p class="stars">⭐4.59/5</p>
                    <p class="location">부산 금정구 중앙대로1959번길 55 호맥</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://search.pstatic.net/common/?autoRotate=true&amp;type=w560_sharpen&amp;src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20201110_26%2F16050108771066KwM3_JPEG%2F4maaS0xByFiaHM2ixIaCjuEP.jpg
" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">호맥</h5>
                    <p class="stars">⭐4.59/5</p>
                    <p class="location">부산 금정구 중앙대로1959번길 55 호맥</p>
                </div>
            </div>
        </div>
    </div>
</div>


</body>