<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOG IN</title>
    <link rel="stylesheet" href="../static/loginStyle.css">
</head>
<!--Header-->
<header class="container-fluid mytitle">
    <div class="mytitle">
        <div class="py-2 px-5 btnContainer">
            <button class="btn btn-primary" onclick="location.href='/sign_up'">회원가입</button>
            <button class="btn btn-primary" onclick="location.href='/login'">로그인</button>
        </div>
        <h1 class="login_title">Login Page</h1>
    </div>
</header>
<!--login_form-->
<body class="loginPage">
    <div class="login_box">
        <input class="input_id" placeholder="ID">
        <p></p>
        <input class="input_pw" placeholder="PASSWORD">
        <p></p>
        <label class="save_id"><input type="checkbox"> 아이디 저장</label>
        <a>FORGOT ID / PASSWORD ?</a>
        <p></p>
        <button class="loginBtn"> LOG IN </button>

    </div>
</body>
</html>