<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOG IN</title>
    <link rel="stylesheet" href="../static/loginStyle.css">
</head>
<body class="loginPage">
    <div class="login_box">
        <h1>LOG IN</h1>
        <input class="input_id" placeholder="ID">
        <p></p>
        <input class="input_pw" placeholder="PASSWORD">
        <p></p>
        <label class="save_id"><input type="checkbox"> 아이디 저장</label>
        <a>FORGOT ID / PASSWORD ?</a>
        <p></p>
        <button class="loginBtn"> LOG IN </button>

    </div>
</body>
</html>