<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGN UP</title>
    <link rel="stylesheet" href="../static/signUpStyle.css">
</head>

<body class="page">
<div class="sign_up">
    <h1>SIGN UP</h1>
    <input class="idInput" placeholder="ID">
    <p></p>
    <input type="password" class="pwInput" minlength="8" maxlength="13" placeholder="PASSWORD">
    <p></p>
    <input type="password" class="confirmPW" minlength="8" maxlength="13" placeholder="CONFIRM PASSWORD">
    <p></p>
    <label><input type="checkbox"> 이용 약관에 대한 동의 </label>
    <p></p>
    <label><input type="checkbox"> 개인정보 수집 및 이용에 대한 동의 </label>
    <p></p>
    <p></p>

    <button class="mybtn"> SIGN UP </button>

</div>
</body>
</html>